Interface.tinyak/Service References/UserServiceReference/User1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:service.tinyak.net/User/v1" elementFormDefault="qualified" targetNamespace="urn:service.tinyak.net/User/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57284/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objSessionId" type="q1:guid" />
        <xs:element minOccurs="0" name="strEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailAddressAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailAddressAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailAddressAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objSessionId" type="q2:guid" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>