Interface.tinyak/Service References/UserServiceReference/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:service.tinyak.net/User/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:service.tinyak.net/User/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:service.tinyak.net/User/v1/Imports">
      <xsd:import schemaLocation="http://localhost:57284/User.svc?xsd=xsd0" namespace="urn:service.tinyak.net/User/v1" />
      <xsd:import schemaLocation="http://localhost:57284/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="UserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_IsEmailAddressAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressAvailable" />
  </wsdl:message>
  <wsdl:message name="UserService_IsEmailAddressAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="urn:service.tinyak.net/User/v1/UserService/Login" message="tns:UserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="urn:service.tinyak.net/User/v1/UserService/LoginResponse" message="tns:UserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressAvailable">
      <wsdl:input wsaw:Action="urn:service.tinyak.net/User/v1/UserService/IsEmailAddressAvailable" message="tns:UserService_IsEmailAddressAvailable_InputMessage" />
      <wsdl:output wsaw:Action="urn:service.tinyak.net/User/v1/UserService/IsEmailAddressAvailableResponse" message="tns:UserService_IsEmailAddressAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="urn:service.tinyak.net/User/v1/UserService/CreateUser" message="tns:UserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:service.tinyak.net/User/v1/UserService/CreateUserResponse" message="tns:UserService_CreateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>