Interface.tinyak/Service References/UserServiceReference/User1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:service.tinyak.net/User/v1" elementFormDefault="qualified" targetNamespace="urn:service.tinyak.net/User/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsEmailAddressAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailAddressAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailAddressAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>